@use './chat.scss';
@use './dialog.scss';
@use './burger.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  color: white;
}
html {
  font-size: 16px;
  font-family: 'Arial', serif;
  background-color: #292e40;
  height: 100vh;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
}

#app {
  display: flex;
  height: 100%;
  position: relative;
}

.hide {
  display: none;
}

.lg {
  font-size: 30px;
}

.md {
  font-size: 25px;
}

.sm {
  font-size: 20px;
}
