@use './chat.scss';
* {
  box-sizing: border-box;
  color: white;
}
html {
  font-size: 16px;
  font-family: 'Arial', serif;
  background-color: #292e40;
}

.lg {
  font-size: 30px;
}

.md {
  font-size: 25px;
}

.sm {
  font-size: 20px;
}
